= link_to event.link ? event.link : default_event_link, class: 'event', target: '_blank' do
  - if event.age
    .event__for
      = partial 'partials/components/stamp', locals: { text: event.age}
  - elsif index == 0
    .event__for
      = partial 'partials/components/stamp', locals: { text: 'Next Event' }
  .event__content
    .event__date
      = event.date.strftime('%b %-d')
    %h3.event__title= event.title
    %p.event__location
      = event_location(event)
  %figure.event__figure
    .event__image{ style: "background-image: url('#{event.image.url}')"}
  .event__type= event.type
