= link_to event.link, class: "event #{ event.for ? 'event--for' : '' }", target: '_blank' do
  - if event.for
    .event__for
      = partial 'partials/components/stamp', locals: { text: event.for}
  - elsif index == 0
    .event__for.event-for--next
      = partial 'partials/components/stamp', locals: { text: 'Next Event' }
  .event__content
    .event__date
      = Date.new(event.year, event.month, event.day).strftime('%b')
      = event.day
    %h3.event__title= event.title
    %p.event__location
      - if event.location
        - if event.type === "Bike Ride"
          %span Starts at
          = event.location
        - else
          = event.location
      - else
        Location TBD
  %figure.event__figure
    .event__image{ style: "background-image: url('/assets/images/events/#{event.image}')"}
  .event__type= event.type
