= link_to event.link ? event.link : default_event_link, class: 'featured-event', target: '_blank' do
  - if event.for
    .featured-event__for
      = partial 'partials/components/stamp', locals: { text: event.for}
  .featured-event__content
    .featured-event__next
      %h4 Next Event
    .featured-event__body
      - if event.date
        .featured-event__month
          = event.date.strftime('%B')
        .featured-event__day
          = event.date.strftime('%-d')
      %h3.featured-event__title= event.title
      %p.featured-event__location
        = event_location(event)
      .featured-event__type= event.type
  %figure.featured-event__figure
    .featured-event__image{ style: "background-image: url('#{event.image.url}')"}
