!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", http: { equiv: "X-UA-Compatible" } }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ name: 'description', content: 'A cycling club in Dedham, MA dedicated to fostering a welcoming & safe bike community through advocacy,  events, and group rides for all ages & abilities.'}
    %meta{ name: 'og:title', content: 'Dedham Cycle Club' }
    %meta{ name: 'og:description', content: 'Fostering a welcoming & safe bike community in Dedham, Massachusetts.' }
    %meta{ name: 'og:image', content: '/assets/images/og-image.png' }
    %meta{ name: 'twitter:card', content: 'summary_large_image' }
    %meta{ name: 'robots', content: 'noindex, nofollow' }
    %title Dedham Cycle Club - Massachusetts
    = favicon_tag "favicon.png"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Work+Sans:400,500,600"
  %body
    = yield
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    = javascript_include_tag "application"
