.container
  - data.events.each do |event|
    .event
      - if event.for
        .event__for
          = partial 'partials/stamp', locals: { text: event.for}
      .event__content
        .event__date= event.date
        %h3.event__title= event.title
        %p.event__location
          - if event.type === "Bike Ride"
            %span Starts at
          = event.location
      %figure.event__image{ style: "background-image: url('#{event.image}')"}
      %h6.event__type= event.type
