%main
  %p
    Hi, I’m Ali Aas (pronounced 'oz' like the wizard). I’m a Designer at
    #{link_to 'Upstatement', 'https://www.upstatement.com/studio/', target: '_blank'},
    where I lead, build and direct projects for all types of clients.
  %p
    Some of my work at Upstatement includes...
    stirking a balance between off-beat & journalistic for
    #{link_to "Grist's", 'grist.org', target: '_blank'} new brand & website (2021),
    bringing the serene experience of visiting the
    #{link_to 'Arnold Arboretum', 'https://arboretum.harvard.edu/', target: '_blank'}
    to the web (2020),
    introducing investors and the public to
    #{link_to 'Commonwealth Fusion Systems', 'https://cfs.energy/', target: '_blank'}
    — the energy company that will finally make fusion a reality (2019),
    and making venture capital friendly again through the redesign of
    #{link_to 'Emergence Capital', 'https://www.upstatement.com/work/emergence/', target: '_blank'} (2018).
  %p
    Before Upstatement, I worked as a Product Designer and consoltant helping primarily startups build web and mobile apps.
  %p
    Outside of work, I used to do more things. But these days, I'm trying to shake my impostor syndrome
    by finally baking breads that require yeast and by challenging myself to run a full marathon. I also
    got promoted to a new role: Mom.
  %p
    = link_to 'aas.alexandra@gmail.com', 'mailto:aas.alexandra@gmail.com'
%figure
  = image_tag 'EHSJ.jpg'
  %figcaption Elizabeth Holmes & Steve Jobs
