%main
  %p
    Hi, I’m Ali Aas (pronounced ‘oz’ like the wizard). I’m a designer at
    #{link_to 'Upstatement', 'https://www.upstatement.com/studio/', target: '_blank'},
    a boutique design studio in Boston, MA.
  %p
    In 2018, I created the interior pages of the new
    #{link_to 'MIT homepage', 'http://web.mit.edu/research/', target: '_blank'},
    re&#8209;imagined the face of
    #{link_to 'venture capital', 'https://www.upstatement.com/work/emergence/', target: '_blank'},
    co-founded a cycling club, built a website for that club (which made it onto
    #{link_to 'Typewolf', 'https://www.typewolf.com/site-of-the-day/dedham-cycle-club', target: '_blank'}),
    and spoke about being a modern breadwinner with
    #{link_to 'Ladies Get Paid', 'https://www.ladiesgetpaid.com/calendar/2018/10/23/boston-town-hall-modern-breadwinning/', target: '_blank'}.
  %p
    Before Upstatement, I did product design at
    #{link_to 'thoughtbot', 'https://thoughtbot.com/blog/the-remix', target: '_blank'},
    where I learned to appreciate the craftsmanship of code.
    Throughout my career, I’ve prided
    myself on organization, a team-first mentality, and the neatest handwriting around.
  %p
    Outside of work, you can find me walking my dachshund Eleanor, traveling around New England, visiting
    National Parks, and riding my Brompton. Finally, I rarely leave the house without my hair in a bun.

  %p
    = link_to 'aas.alexandra@gmail.com', 'mailto:aas.alexandra@gmail.com'
%figure
  = image_tag 'me.JPG'
  %figcaption I took this picture in the bathroom.
